/* body */
body{
    margin: 20px 80px  20px;
    background-color: rgb(243, 239, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header-section */
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(231, 226, 235);
    height: 80px;
    align-items: center;
}
nav .search{
    border-radius: 20px;
    border: none;
    padding: 15px;
    width: 500px;
}
.search:focus{
    padding-right: 45px;
    border: 2px solid tomato;
}
nav ul{
    display: flex;   
}
input{
    font-size: larger;
}
input:focus{
    background-color: rgb(147, 236, 236);
    font-size: larger;
    font-weight: bolder;
    color: rgb(231, 76, 76);
}
.search-parent{
    position: relative;
}
.search-parent i{
    position: absolute;
    top: 17px;
    right: 20px;
}
nav ul li{
    list-style: none;
    padding-left: 50px;
    font-size: larger;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
li a:hover{
    color: rgb(221, 94, 15);
}
li a{
    text-decoration: none;
}
/* banner-section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    background-color: antiquewhite;
    /* padding: 60px; */
    gap: 400px;
    margin: 30px 0px;
    padding: 20px 100px;
}
.banner-content{
    text-align: left;
}
.primary-button{
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: larger;
    transition: 0.5s;
    background-color: rgb(192, 54, 155);
    color: aliceblue;
}
.primary-button:hover{
    background-color: rgb(143, 196, 158);
    color: red;
}

/* categories-part */
.categories{
    padding: 20px 80px;
}
.categori{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 40px;
}
.part1{
    display: flex;
    align-items: center;
    background-color: palevioletred;
    height:150px;
    width: 300px;
    gap: 50px;
    padding: 10px 0px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: larger;
}
.part1:hover{
    background-color: rgb(255, 153, 153);
    transform: translate(10px, 5px);
    box-shadow: 10px 10px 10px tomato;
}
.part2{
    display: flex;
    align-items: center;
    background-color: rgb(110, 143, 241);
    height:150px;
    width: 300px;
    gap: 50px;
    padding: 10px 0px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: larger;
}
.part2:hover{
    background-color: rgb(255, 153, 153);
    transform: translate(10px, 5px);
    box-shadow: 10px 10px 10px tomato;
}
.part3{
    display: flex;
    align-items: center;
    background-color: rgb(219, 235, 80);
    height:150px;
    width: 300px;
    gap: 50px;
    padding-left: 30px;
    padding: 10px 0px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: larger;
    background-color: rgb(156, 127, 88);
}
.part3:hover{
    background-color: rgb(255, 153, 153);
    transform: translate(10px, 5px);
    box-shadow: 10px 10px 10px tomato;
}
/* main-part */
main{
    margin-top: 30px;
    padding: 30px 70px;
}

.shoes-card{
    display: flex;
    justify-content: space-between;
    text-align: center ;
    gap: 30px;
    margin-bottom: 50px;
}
.card1{
    background-color: aqua;
    margin-right: 20px;
    border-radius: 10px;
    padding: 0px 20px;
    box-shadow:10px 10px 10px  tomato;  
    transition: 0.5s;   
    padding-bottom: 10px;
}
.card1:hover{
    background-color: rgb(136, 158, 230);
    transform: translate(10px, 5px);
}
/* footer */
footer{
    background-color:azure;
    /* align-items: center; */
    text-align: center;
    padding: 20px 30px;
}
footer input{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    font-size: larger;
}
